In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.1.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
housingData <- read_csv("https://raw.githubusercontent.com/wilkmzhou/vancouverHousePricePrediction/refs/heads/main/synthetic_house_prices_20_years.csv")

head(housingData)

Rows: 3520 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (5): Neighborhood, Season, Property Type, Garage Type, Basement
dbl (9): Year, Bedrooms, Bathrooms, Year Built, Renovation Year, Square Foot...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Neighborhood Year Season Property Type Bedrooms Bathrooms Year Built
1 Kitsilano    2004 Spring Triplex       1        3         1954
2 Kitsilano    2004 Summer Condo         3        1         2022
3 Kitsilano    2004 Fall   House         4        1         2006
4 Kitsilano    2004 Winter Condo         2        2         1960
5 Kitsilano    2005 Spring Duplex        5        2         1960
6 Kitsilano    2005 Summer Triplex       5        3         1994
  Renovation Year Garage Type Square Footage (House) Square Footage (Land)
1 2000            Double      1308                   6742
2   NA            Single      3947                   2592
3   NA            None         919                   9519
4   NA            Triple      2352                   1555
5 1992            None        2474                   7031
6 2020            None        1431                   5643
  Basement     Legal Units Market Price
1 Not Finished 2           1734587.4
2 Finished     0            951731.6
3 Not Finished 2           1782016.8
4 Not Finished 2            335768.1
5 Not Finished 0           1571528.4
6 Finished     2           2123280.8